@tailwind base;
@tailwind components;
@tailwind utilities;


// import fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

::-webkit-scrollbar {
    width: .2vh;
}

::-webkit-scrollbar-track {
    background: rgba($color: #01313d, $alpha: 1.0);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 163, 33);
    border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.task-editor {
    position: relative;
    position: absolute;
}